<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{section/head ::head}"></th:block>
    <th:block th:insert="~{section/bootstrap ::bootstrap}"></th:block>
    <title>CULINARY_BLOG</title>
</head>
<body>
<th:block th:insert="~{section/header ::header}"></th:block>
<main>
    <div class="container">
        <form action="/recipe/add" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="inputFile">Add recipe image</label>
                <input class="form-control" type="file" id="inputFile" name="file">
            </div>
            <div class="mb-3">
                <label for="recipeName">Enter recipe name</label>
                <input id="recipeName" type="text" class="form-control" name="recipeName" placeholder="Recipe name...">
            </div>
            <div class="mb-3">
                <label for="timeToMake">Enter time to make recipe ( in minutes )</label>
                <input id="timeToMake" type="number" name="timeToMake" class="form-control">
            </div>

            <div class="mb-3">
                <label for="shortDescription">Enter short description ( will appear on main page ) </label>
                <input id="shortDescription" type="text" class="form-control" name="shortDescription"
                       placeholder="Short description...">
            </div>
            <div class="mb-3">
                <label for="text">Enter the text of the blog</label>
                <textarea id="text" type="text" class="form-control" name="text" placeholder="Enter text..."></textarea>
            </div>
            <div class="mb-3">
                <label>Click the button to add new ingredient input</label>
                <div class="mb-3">
                    <button id="addIngredient" class="btn btn-primary" type="button">+</button>
                    <button type="button" id="removeIngredient" class="btn btn-danger">-</button>
                </div>
                <div id="ingredientInputs">
                </div>
            </div>
            <div class="mb-3">
                <input type="submit" class="btn btn-outline-primary btn-lg btn-block" value="Add">
            </div>
        </form>
    </div>
</main>
<th:block th:insert="~{section/footer ::footer}"></th:block>
<th:block th:insert="~{section/scripts ::scripts}"></th:block>
<script>
    document.addEventListener("DOMContentLoaded", (event) => {
        const addIngredient = document.getElementById("addIngredient");
        const removeIngredient = document.getElementById("removeIngredient");
        const ingredientInputs = document.getElementById("ingredientInputs");
        addIngredient.addEventListener("click", (event)=>{
            const inputElement = document.createElement("input");
            const labelElement = document.createElement("label");
            labelElement.innerText = "Ingredient";
            ingredientInputs.appendChild(labelElement);
            inputElement.setAttribute("name", "ingredients");
            inputElement.className = "form-control mb-3";
            ingredientInputs.appendChild(inputElement);
        })
        removeIngredient.addEventListener("click", (event)=>{
            if(ingredientInputs.childElementCount > 0) {
                ingredientInputs.removeChild(ingredientInputs.lastChild);
                ingredientInputs.removeChild(ingredientInputs.lastChild);
            }
        });
    });
</script>
</body>
</html>
