<header th:fragment="header" xmlns:th="www.thymeleaf.org">
    <th:block th:if="${username != null}">
        <a href="/"><h2 class="logo"><span class="red">CULINARY_</span><span class="black">BLOG</span></h2></a>
    </th:block>

    <th:block th:if="${username == null}">
        <div class="animation-text">
            <h1>CULINARY_BLOG</h1>
            <div class="animation-text">
                <h3><span>amazing experiences</span></h3>
            </div>
        </div>
    </th:block>

    <div class="d-flex">
        <th:block th:if="${username == null}">
            <div class="mr-3">
                <a href="/login">Login</a>
            </div>
            <div>
                <a href="/register">Register</a>
            </div>
        </th:block>

        <th:block th:if="${username != null}">
            <ul class="nav-links item-centered">
                <li><a href="/">Recipes</a></li>
                <li th:if="${username != null}"><a href="/recipe/add">Add recipe</a></li>
                <li th:if="${role == 'ADMIN'}"><a href="/admin/show-users">( Admin ) Show users</a></li>
            </ul>
            <div class="mr-3">
                <a th:if="${userId != null && role != 'ADMIN'}" th:href="'user/profile/' + ${userId}" th:text="${username}"></a>
            </div>
            <div>
                <a href="/logout">Logout</a>
            </div>
        </th:block>
    </div>

</header>
